body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logoStyle {
    width: 100px;
    height: 50px;
    padding-left: 50px;
}

nav {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

li {
    display: flex;
    position: relative;
    padding: 10px 30px;
    justify-content: space-between;
}

a {
    display: flex;
    color: rgb(43, 43, 43);
    font-size: 17px;
    text-decoration: none;
    font-family: sans-serif;
    margin-right: 5px;
    transition: all 0.25 ease;
}

.iconStyle {
    align-items: center;
    margin-top: 5px;
    margin-right: 20px;
}

.navTextWithIcon {
    display: flex;
    align-items: center;
    width: max-content;
}

nav button {
    padding: 12px;
    width: 80px;
    height: 40px;
    background-color: greenyellow;
    border: none;
    cursor: pointer;
    color: black;
    border-radius: 10px;
}

nav button:hover {
    background-color: #75c400;
}

.header {
    width: 100%;
    height: 500px;
    background-color: #f8f9fa;
}

.headerImage {
    margin-left: 1200px;
    margin-top: -325px;

}

.headerText {
    position: relative;
    font-weight: bold;
    font-size: 40px;
    margin-left: 200px;
    padding-top: 20px;

}

.headerTextChild {
    font-size: 20px;
    font-weight: normal;
}

.headerText button {
    width: 200px;
    height: 50px;
    background-color: greenyellow;
    border: none;
    cursor: pointer;
    color: black;
    border-radius: 10px;
}

.headerText button:hover {
    background-color: #75c400;
}

.courses h1 {
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: -150px;
}

.courseParent {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: -100px;
    padding: 200px;
    margin-bottom: -350px;
}

.courseschild:hover {
    box-shadow: 0px 15px 15px rgb(145, 144, 144);

}

.courseschild {
    width: 325px;
    height: 350px;
    background-color: white;
    border: 0.2px solid rgb(212, 211, 211);
    border-radius: 10px;
    justify-content: space-between;
}

.courseschild img {
    width: 325px;
}

.courseschild p {
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}

.courseschild a {
    margin-left: 15px;
    text-decoration: none;
    color: rgb(2, 150, 2);
    font-weight: bold;

}

.lineParent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 1400px;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    border: 0.5px solid grey;
}

.courseParent1 {
    padding: 200px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -150px;
}

.footer {
    width: 100%;
    height: 800px;
    background-color: #2a2a2a;
    /* display: flex; */
    justify-content: center;
    margin-top: 40px;
    text-align: left;
}

.footer ul {
    color: white;
    list-style: none;
    margin-top: 50px;
    text-align: justify;
}

.footerPractice ul {
    margin-top: 20px;
}

.zenClass {
    display: block;
    text-align: justify;

}

.footerText {
    color: white;
    font-size: 21px;
}

.footerchild {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.footerBorder {
    width: 1500px;
    border-top: 0.5px solid white;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 0.5px solid white;
    display: flex;
}

.footerLogo {
    width: 100px;
    height: 45px;
    padding: 25px;
}

.footerBorderParent {
    justify-content: center;
    align-items: center;
    display: flex;
}

.footerBorder p {
    color: white;
    text-align: justify;
}

.socialMedia p {
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.socialMediaImages {
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
}

.referButton {
    width: 200px;
    height: 40px;
    background-color: #2a2a2a;
    color: white;
    border-radius: 5px;
    border: 0.5px solid white;
    text-align: center;
    cursor: pointer;

}

.referButton:hover {
    background-color: #f8f9fa;
    color: black;
}

.socialMediaChild {
    list-style: none;
    margin-right: 50px;
}


.gplay {
    width: 200px;
    height: 50px;
}